---
layout: default
title: "Projects"
category: project
---

{% include canvas_title.html %}
<section id="projects">
  <div class="content">
    {% for post in site.posts do %}
    {% if post.category == 'project' %}
    <h1>{{ post.title }}</h1>
    <div class="links">
      {% if post.website %}
      <a href="{{ post.website }}">Website</a>
      {% endif %}
      {% if post.pdf %}
      <a href="{{ post.pdf }}">Pdf</a>
      {% endif %}
      {% if post.code %}
      <a href="{{ post.code }}">Code</a>
      {% endif %}
    </div>
    {% if post.description %}
    <h2>{{ post.description }}</h2>
    {% endif %}
    {{ post.content }}
    {% endif %}
    {% endfor %}
  </div>
</section>
