---
layout: default
title: Brennan Moore
---

<section id="about">
  <div class="content">
    <div class="clearfix">
      <div class="portrait">
        <img src="http://secure.gravatar.com/avatar/ed442a2cfbe84d5bf40e09c58ba80b5f?size=200">
      </div>
      <div class="info">
        <p class="name faux-underline-large">Brennan Moore</p>
        <p class="subheading">Building build web applications to help people go about their day in a more awesome way.</p>
        <p class="location">Working at <a href="http://artsy.net">Artsy</a>. Living in Brooklyn, NY.</p>
        <p class="ellipsis">&hellip;</p>
        <p class="links">
          <a href="/posts">blog</a>&nbsp;&sdot;
          <a href="https://github.com/zamiang">github</a>&nbsp;&sdot;
          <a href="http://twitter.com/zamiang">twitter</a>
        </p>
        <p class="ellipsis">&hellip;</p>
      </div>
    </div>
    <h1>projects</h1>
    {% for post in site.posts do %}
    {% if post.category == 'project' %}
    <div class="project">
      {% if post.website %}
      <h2><a href="{{ post.website }}">{{ post.title }}</a></h2>
      {% else %}
      <h2>{{ post.title }}</h2>
      {% endif %}
      {% if post.description %}
      <div class="description">{{ post.description | markdownify }}</div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<!--
<section id="photos">
  <div class="content">
    <h1>photos</h1>
    <br />
    <br />
    {% for post in site.posts do %}
    {% if post.category == 'photo' %}
    <img src="{{ post.src }}" />
    {% endif %}
    {% endfor %}
  </div>
</section>
-->

<section id="publications">
  <div class="content">
    <center>
      <h1>publications</h1>
    </center>
    {% for post in site.posts do %}
    {% if post.category == 'publication' %}
    <div class="publication">
      <h2>{{ post.title }}</h2>
      <span class="author">{{ post.author }}</span>
      <span class="journal">{{ post.journal }}</span>
      (<span class="date">{{ post.year }}</span>)&nbsp;
      <remoteURLs>
        <a href="{{ post.pdf }}">PDF</a>
        {% if post.extra_url %}
        &middot; <a href="{{ post.extra_url }}">Citation</a>
        {% endif %}
      </remoteURLs><br />
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
