---
layout: default
---

<section id="about">
  <div class="content">
    <div class="clearfix" itemscope="" itemtype="http://schema.org/Person">
      <div class="portrait">
        <img itemprop="image" src="https://secure.gravatar.com/avatar/ed442a2cfbe84d5bf40e09c58ba80b5f?size=200" />
      </div>
      <div class="info">
        <p class="name faux-underline-large" itemprop="name">Brennan Moore</p>
        <p class="subheading" itemprop="description">Building build web applications to help people go about their day in a more awesome way.</p>
        <p class="location">Living in Brooklyn, NY.</p>
        <p class="ellipsis">&hellip;</p>
        <p class="links">
          <a href="/posts">blog</a>&nbsp;&sdot;
          <a href="https://github.com/zamiang">github</a>&nbsp;&sdot;
          <a href="http://twitter.com/zamiang">twitter</a>
        </p>
        <p class="ellipsis">&hellip;</p>
      </div>
    </div>
    <h1>Projects</h1>
    {% for project in site.projects reversed do %}
    <div class="project">
      {% if project.website %}
      <h2><a href="{{ project.website }}">{{ project.title }}</a></h2>
      {% else %}
      <h2>{{ project.title }}</h2>
      {% endif %}
      {% if project.description %}
      <div class="description">{{ project.description | markdownify }}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<section id="publications">
  <div class="content">
    <center>
      <h1>Publications</h1>
    </center>
    {% for publication in site.publications do %}
    <div class="publication">
      <h2>{{ publication.title }}</h2>
      <span class="author">{{ publication.author }}</span>
      <span class="journal">{{ publication.journal }}</span>
      (<span class="date">{{ publication.year }}</span>)&nbsp;
      <remoteURLs>
        <a href="{{ publication.pdf }}">PDF</a>
        {% if publication.extra_url %}
        &middot; <a href="{{ publication.extra_url }}">Citation</a>
        {% endif %}
      </remoteURLs><br />
    </div>
    {% endfor %}
  </div>
</section>
