<section class="author-container">
    <a href="https://plus.google.com/+BrennanMoore" rel="publisher" style="display: none"></a>
    <div class="author-object" itemscope="" itemprop="author" itemtype="http://schema.org/Person">
        <p class="written-by-note">Written By</p>
        <div class="portrait">
            <img itemprop="image" src="http://secure.gravatar.com/avatar/ed442a2cfbe84d5bf40e09c58ba80b5f?size=200" />
        </div>
        <div class="info">
            <p class="name faux-underline-large" itemprop="name">Brennan Moore</p>
            <p class="subheading">Building build web applications to help people go about their day in a more awesome way.</p>
            <p class="call-to-action">Follow me on Twitter <a href="https://twitter.com/zamiang">here</a>.</p>
        </div>
    </div>
</section>
