<head>
  <meta name="google-site-verification" content="j-E8_XgKxhDDcGqaPh8ohMSwBwUwR5V2OAwKasKpeRo" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.title %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <meta name="author" content="{{ site.title }}">
  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="viewport" content="width=device-width">
  <link rel="author" href="https://plus.google.com/+BrennanMoore" />
  {% if page.date %}
    <meta http-equiv="date" content="{{ page.date | date: '%A, %d %Y %H:%M:%S GMT' }}" />
  {% endif %}

  {% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path }}" />
  {% endif %}
  {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path }}" />
  {% endif %}

  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/app.css?3" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/assets/javascripts/app.js?4"></script>
  <script src="https://use.typekit.net/odn0pxa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
