html {
  background: url(/assets/images/fade.png);
  background-repeat: repeat-x; }
  html body {
    padding: 0px;
    margin: 0px;
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "adobe-garamond-pro", Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.6em;
    color: transparent;
    background: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased; }
    html body a, html body h1, html body h2, html body h1 a, html body h2 a, html body h1, html body h3, html body h4, html body h5, html body h6 {
      color: transparent; }

svg {
  display: none; }

html.wf-active body {
  color: rgba(0, 0, 0, 0.8); }
  html.wf-active body time {
    color: rgba(0, 0, 0, 0.8); }
  html.wf-active body a {
    color: #39c; }
  html.wf-active body h1, html.wf-active body h2, html.wf-active body h1 a, html.wf-active body h2 a, html.wf-active body h1 {
    color: #222; }
  html.wf-active body h3, html.wf-active body h4, html.wf-active body h5, html.wf-active body h6 {
    color: #494949; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px; }

p, ul, ol, table, pre, dl {
  margin: 0 0 20px; }

pre {
  margin-bottom: 30px; }

p {
  line-height: 1.6em;
  word-wrap: break-word; }

p.nomargin {
  margin: 0 0 20px; }

ol {
  margin: 0 0 50px; }

ol:last-child, p:last-child {
  margin-bottom: 0px; }

h1, h2 {
  font-family: "franklin-gothic-urw", sans-serif;
  line-height: 148%;
  font-weight: normal; }

h1 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 2px; }

h2 {
  font-size: 20px;
  letter-spacing: 1px; }

h3 {
  margin-bottom: 3px; }

a {
  font-weight: 400;
  text-decoration: none; }

.wrapper {
  margin: 0 auto; }

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px; }

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  line-height: 192%; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }

dt {
  color: #444;
  font-weight: 700; }

th {
  color: #444; }

img {
  max-width: 100%; }

.column {
  display: inline-block;
  vertical-align: top;
  text-align: left; }

.clearfix {
  overflow: hidden;
  *zoom: 1; }

strong {
  font-weight: 700; }

.wrapper {
  margin: 0px auto; }

.content {
  width: 700px;
  margin: 0px auto; }

header {
  position: fixed;
  top: 0px;
  text-align: left;
  z-index: 11;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-top: 20px;
  color: #ccc;
  text-align: center;
  padding-top: 10px;
  height: 35px;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  overflow: hidden;
  background-color: #fff;
  background-image: url(/assets/images/fade.png);
  background-repeat: repeat-x;
  background-position: 0px 0px; }
  header h1 {
    margin: 0px;
    font-size: 20px;
    transition: all 0.2s ease-in-out; }

small {
  font-size: 11px; }

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px; }

section {
  width: 100%;
  padding: 70px 0px;
  position: relative; }
  section:last-child {
    border-bottom: 1px solid #e2e2e2; }

.faux-underline, .project h2 a {
  display: inline-block;
  position: relative;
  text-decoration: none; }
.faux-underline:before, .project h2 a:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 0.3em;
  border-bottom: 1px solid #777;
  color: #505050; }
.faux-underline:hover, .project h2 a:hover {
  text-decoration: none; }

.faux-underline-large {
  display: inline-block;
  position: relative;
  text-decoration: none; }
.faux-underline-large:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 0.4em;
  border-bottom: 1px solid #333;
  color: #505050; }
.faux-underline-large:hover {
  text-decoration: none; }

.content > h1:before {
  border-bottom: 3px solid #333; }

html.wf-active body .content article p a, html.wf-active body .content article ul li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline; }

.ellipsis {
  font-size: 61px;
  color: #DDD;
  line-height: 126%;
  margin-top: -21px; }

.side-gradient {
  position: fixed;
  top: 400px;
  height: 400px;
  width: 150%;
  left: -25%;
  background: #E5FF00;
  z-index: 0;
  transform: rotate(22deg); }

#about {
  width: 100%;
  overflow: hidden;
  padding: 125px 0px 70px;
  font-size: 20px; }
  #about .info {
    margin-top: 15px; }

#about, #posts .author, #posts .section-title {
  text-align: center;
  width: 100%; }
  #about .name, #posts .author .name, #posts .section-title .name {
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 28px;
    font-family: "franklin-gothic-urw", sans-serif;
    line-height: 148%;
    font-weight: normal; }
  #about .subheading, #posts .author .subheading, #posts .section-title .subheading {
    width: 370px;
    margin: 0px auto;
    margin-bottom: 21px; }
  #about h1, #posts .author h1, #posts .section-title h1 {
    margin: 69px auto 30px; }
  #about .links, #posts .author .links, #posts .section-title .links {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: 16px; }
  #about .portrait, #posts .author .portrait, #posts .section-title .portrait {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 0px solid #FFF;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0px auto;
    mix-blend-mode: multiply; }

#posts {
  width: 100%;
  margin-top: 80px; }
  #posts > .content {
    margin: 0px 0px; }
  #posts.index-page {
    padding-top: 0px;
    margin-top: -25px; }
  #posts .author {
    border-top: 1px solid #000; }
    #posts .author .written-by-note {
      font-family: "franklin-gothic-urw", sans-serif;
      line-height: 148%;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 13px;
      margin-top: 26px; }
  #posts article {
    padding-top: 50px;
    position: relative; }
    #posts article:first-child {
      padding-top: 0px; }
    #posts article:last-child {
      padding-bottom: 0px; }
    #posts article h1 {
      text-align: left;
      font-weight: normal;
      line-height: 1.1em;
      font-size: 48px;
      margin-bottom: 11px;
      letter-spacing: 1px;
      font-family: "adobe-garamond-pro", Georgia, Cambria, "Times New Roman", Times, serif;
      transition: all 0.3s; }
    #posts article div h1 {
      font-size: 36px;
      margin-top: 35px; }
    #posts article a h1 {
      text-decoration: none; }
      #posts article a h1:hover {
        text-decoration: underline; }
    #posts article ol, #posts article ul {
      color: #555; }
    #posts article img {
      width: 100%; }
    #posts article h2 {
      display: block;
      margin-top: 10px;
      margin-bottom: 3px; }
    #posts article p {
      margin: 0 0 14px; }
    #posts article p {
      margin-bottom: 24px; }
    #posts article blockquote {
      margin-bottom: 10px;
      margin-right: 0px; }
    #posts article time {
      display: block;
      font-size: 20px;
      margin-bottom: 2px; }
    #posts article .content {
      max-height: 457px;
      overflow: hidden;
      margin: 0px;
      transition: all 0.3s ease;
      position: relative; }
    #posts article .bottom-gradient {
      display: block;
      position: relative;
      border-top: 1px solid #000; }
    #posts article .more-link {
      display: block;
      padding-top: 30px;
      color: black; }

.project {
  position: relative;
  border-bottom: 1px solid #000;
  padding: 50px 0px;
  margin: 0px auto;
  width: 600px;
  overflow: hidden;
  *zoom: 1;
  text-align: left; }
  .project:last-child {
    border-bottom: 0px; }
  .project h2 {
    width: 91px; }
  .project h2, .project h2 a {
    color: #444;
    display: inline-block; }
  .project .description {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    max-width: 444px;
    margin-left: 32px; }

#publications:after {
  border-bottom-color: #fff; }
#publications .publication {
  border-bottom: 1px solid #000;
  color: #555;
  padding: 34px;
  padding-left: 0px; }
  #publications .publication remoteurls {
    display: inline; }
  #publications .publication h2 {
    margin-bottom: 10px; }
  #publications .publication .subheading {
    font-size: 17px;
    line-height: 148%;
    padding-bottom: 17px; }
    #publications .publication .subheading.last {
      padding-bottom: 0px; }
  #publications .publication .author {
    color: #555;
    font-style: italic;
    display: block;
    margin-bottom: 3px; }
  #publications .publication .journal, #publications .publication .date {
    color: #555; }
  #publications .publication:first-child {
    padding-top: 0px;
    border-top: 0px; }
  #publications .publication:last-child {
    border-bottom: 0px solid;
    padding-bottom: 0px;
    margin-bottom: 0px; }

@media (max-width: 800px) {
  header {
    left: 25px;
    width: calc(100% - 50px); } }
@media (max-width: 700px) {
  body {
    font-size: 16px; }

  .content {
    width: auto;
    margin: 0px 20px; }

  #article .content {
    margin: 0px 0px; }

  header {
    left: 0px;
    width: 100%; }

  #about {
    padding: 70px 0px; }
    #about .subheading {
      width: 100%; }
    #about .portrait {
      margin-top: 30px; }
    #about .name.faux-underline-large.blog-heading {
      max-width: 200px; }
      #about .name.faux-underline-large.blog-heading:before {
        border-bottom: 0px solid #333; }

  #posts .author .subheading {
    width: 100%; }
  #posts article h1 {
    font-size: 30px; }

  #photos img {
    width: auto; }

  .project {
    width: 100%; }
    .project h2, .project h2 a {
      text-align: left; }
    .project p, .project .description {
      margin-left: 0px; }

  #publications {
    padding-top: 0px; }
    #publications .publication {
      padding-right: 0px; } }
