body {
  padding: 0px;
  margin: 0px;
  font-family: "adobe-garamond-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6em;
  color: #fff;
  background: #eee;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }
  body a, body h1, body h2, body h1 a, body h2 a, body h1, body h3, body h4, body h5, body h6 {
    color: #fff; }

html.wf-active body {
  color: rgba(0, 0, 0, 0.8); }
  html.wf-active body a {
    color: #39c; }
  html.wf-active body h1, html.wf-active body h2, html.wf-active body h1 a, html.wf-active body h2 a, html.wf-active body h1 {
    color: #222; }
  html.wf-active body h3, html.wf-active body h4, html.wf-active body h5, html.wf-active body h6 {
    color: #494949; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px; }

p, ul, ol, table, pre, dl {
  margin: 0 0 20px; }

pre {
  margin-bottom: 30px; }

p {
  line-height: 1.6em;
  word-wrap: break-word; }

p.nomargin {
  margin: 0 0 20px; }

ol {
  margin: 0 0 50px; }

ol:last-child, p:last-child {
  margin-bottom: 0px; }

h1, h2 {
  font-family: "franklin-gothic-urw", sans-serif;
  line-height: 148%;
  font-weight: normal; }

h1 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 2px; }

h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px; }

h3 {
  margin-bottom: 3px; }

a {
  font-weight: 400;
  text-decoration: none; }

.wrapper {
  margin: 0 auto; }

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px; }

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  line-height: 192%; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }

dt {
  color: #444;
  font-weight: 700; }

th {
  color: #444; }

img {
  max-width: 100%; }

.column {
  display: inline-block;
  vertical-align: top;
  text-align: left; }

.clearfix {
  overflow: hidden;
  *zoom: 1; }

strong {
  font-weight: 700; }

.wrapper {
  margin: 0px auto; }

.content {
  width: 700px;
  margin: 0px auto; }

header {
  position: fixed;
  top: 0px;
  text-align: left;
  z-index: 11;
  background: #fdfdfd;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 20px;
  color: #ccc;
  text-align: center;
  transition: all 0.2s ease-in-out;
  height: 43px; }
  header.small {
    padding-top: 10px;
    height: 29px; }
    header.small h1 {
      font-size: 13px; }
  header h1 {
    font-size: 16px;
    margin: 0px;
    transition: all 0.2s ease-in-out; }
    header h1:before {
      border-bottom: 1px solid #333; }

small {
  font-size: 11px; }

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px; }

section {
  width: 100%;
  padding: 70px 0px;
  position: relative;
  background: #effdfd; }
  section:last-child {
    border-bottom: 1px solid #e2e2e2; }

.faux-underline, .project h2 a {
  display: inline-block;
  position: relative;
  text-decoration: none; }
.faux-underline:before, .project h2 a:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 0.3em;
  border-bottom: 1px solid #777;
  color: #505050; }
.faux-underline:hover, .project h2 a:hover {
  text-decoration: none; }

.faux-underline-large {
  display: inline-block;
  position: relative;
  text-decoration: none; }
.faux-underline-large:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 0.4em;
  border-bottom: 2px solid #333;
  color: #505050; }
.faux-underline-large:hover {
  text-decoration: none; }

.content > h1:before {
  border-bottom: 3px solid #333; }

.ellipsis {
  font-size: 61px;
  color: #DDD;
  line-height: 126%;
  margin-top: -21px; }
