$blue: steelblue
$border-color: #BED0D0
$gray: lightgrey
$dark-gray: #333
$light-gray: #aaa
$default-font-color: rgba(0,0,0,0.8)
$highlight: #E7FF00
$home-padding: 35px

@mixin section-border
  border-bottom: 1px solid #000

@mixin clearfix
  clear: both

@mixin border-radius($x)
  -webkit-border-radius: $x
  border-radius: $x

@mixin serif
  font-family: "adobe-garamond-pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
  line-height: 1.6em
  font-weight: 400
  font-style: normal

@mixin sans-serif
  font-family: "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif
  line-height: 148%
  letter-spacing: 2px
  font-weight: normal
