#posts {
  width: 100%;
  background: #fff;
  margin-top: 25px; }
  #posts.index-page {
    padding-top: 0px;
    margin-top: -25px; }
  #posts .author {
    border-top: 1px solid #e2e2e2; }
    #posts .author .written-by-note {
      font-family: "franklin-gothic-urw", sans-serif;
      line-height: 148%;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 13px;
      margin-top: 26px; }
  #posts article {
    padding-top: 50px;
    position: relative; }
    #posts article:first-child {
      padding-top: 0px; }
    #posts article:last-child {
      padding-bottom: 0px; }
    #posts article h1 {
      text-align: left;
      font-weight: normal;
      line-height: 1.1em;
      font-size: 48px;
      margin-bottom: 11px;
      letter-spacing: 1px;
      font-family: "adobe-garamond-pro", Georgia, Cambria, "Times New Roman", Times, serif;
      transition: all 0.3s; }
    #posts article a h1 {
      text-decoration: none; }
      #posts article a h1:hover {
        text-decoration: underline; }
    #posts article ol, #posts article ul {
      color: #555; }
    #posts article img {
      width: 100%; }
    #posts article h2 {
      display: block;
      margin-top: 10px;
      margin-bottom: 3px; }
    #posts article p {
      margin: 0 0 14px; }
    #posts article p {
      margin-bottom: 24px; }
    #posts article blockquote {
      margin-bottom: 10px;
      margin-right: 0px; }
    #posts article time {
      display: block;
      color: rgba(0, 0, 0, 0.5); }
    #posts article .content {
      max-height: 457px;
      overflow: hidden;
      margin: 0px;
      transition: all 0.3s ease;
      position: relative; }
    #posts article .bottom-gradient {
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, #ffffff 100%, #ffffff 100%);
      padding-top: 55px;
      margin-top: -55px;
      position: relative; }
    #posts article .more-link {
      color: #ccc;
      display: block;
      text-align: center;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 0.99) 99%, #ffffff 100%);
      padding-top: 30px; }
      #posts article .more-link .ellipsis {
        transition: all 0.3s ease; }
      #posts article .more-link:hover .ellipsis {
        color: #39c; }
