$from: #E7FF00
$to: #DCF2F3

@-webkit-keyframes color_change
  from
    color: $from
  to
    color: $to

@-moz-keyframes color_change
  from
    color: $from
  to
    color: $to

@keyframes color_change
  from
    color: $from
  to
    color: $to

#posts
  width: 100%
  margin-top: 75px
  .content
    width: auto
  article
    margin: 0px auto
    width: 594px
  &.index-page
    margin-top: -75px
  article
    padding-top: 100px
    position: relative
    &:first-child
      padding-top: 0px
    &:last-child
      padding-bottom: 0px
    h1
      +serif
      line-height: 125%
      font-size: 42px
      margin-bottom: 11px
      letter-spacing: 1px
      transition: all 0.3s
      text-align: center
      a
        border-color: transparent
        &:hover
          border-color: $highlight
    > div
      h1
        text-align: left
        font-size: 36px
        margin-top: 35px
    img
      width: 100%
    h2
      display: block
      margin-top: 10px
      margin-bottom: 3px
    p
      margin: 0 0 14px
    p
      margin-bottom: 24px
    blockquote
      margin-bottom: 10px
      margin-right: 0px
    time
      display: block
      font-size: 20px
      margin-bottom: 2px
      text-align: center
    .content
      max-height: 457px
      overflow: hidden
      margin: 0px
      transition: all 0.3s ease
      position: relative
    .bottom-gradient
      display: block
      position: relative
      border-top: 2px solid #000
    .more-link
      padding-top: 30px
      display: inline-block
    .small-border
      margin-bottom: 35px
      margin-top: 15px

  .pagination
    width: 100%
    border-top: 1px solid #000
    padding-top: 30px
    margin-top: 70px
    text-align: center
    a
      text-align: center
      vertical-align: top
      +sans-serif
      text-transform: uppercase
      font-size: 16px
      &.previous
        float: left
      &.next
        float: right

  .related-posts
    padding-bottom: 0px
    border-top: 1px solid #000
    margin-top: 50px
    .content
      max-width: 1010px
      width: 100%
    .posts
      -webkit-column-count: 2
      -webkit-column-gap: 20px
      -webkit-column-rule: 0px dotted black
      -moz-column-count: 2
      -moz-column-gap: 20px
      -moz-column-rule: 0px dotted black
      column-count: 2
      column-gap: 20px
      column-rule: 0px dotted black
      column-fill: balance
      width: 100%
      padding: 0px
      margin-top: 29px
      .post
        border: 0px solid
        padding: 18px 0px 18px 18px
        width: 91%
        position: relative
        &:before
          content: '●'
          color: #000
          position: absolute
          left: 0px
          top: 13px
          font-size: 11px
          -webkit-animation: color_change 1s infinite alternate
          -moz-animation: color_change 1s infinite alternate
          animation: color_change 1s infinite alternate
        h2
          padding: 0px
          margin: 0px
          font-size: 18px
          line-height: 120%
    .post-content
      display: none
