@media (max-width: 800px) {
  header {
    left: 25px;
    width: calc(100% - 50px); } }
@media (max-width: 700px) {
  body {
    font-size: 16px; }

  .content {
    width: auto;
    margin: 0px 20px; }

  #article .content {
    margin: 0px 0px; }

  header {
    left: 0px;
    width: 100%; }

  #about {
    padding: 70px 0px; }
    #about .subheading {
      width: 100%; }
    #about .portrait {
      margin-top: 30px; }
    #about .name.faux-underline-large.blog-heading {
      max-width: 200px; }
      #about .name.faux-underline-large.blog-heading:before {
        border-bottom: 0px solid #333; }

  #posts .author .subheading {
    width: 100%; }
  #posts article h1 {
    font-size: 30px; }

  .more-link {
    display: none; }

  #photos img {
    width: auto; }

  .project {
    width: 100%; }
    .project h2, .project h2 a {
      text-align: left; }
    .project p, .project .description {
      margin-left: 0px; }

  #publications {
    padding-top: 0px; }
    #publications .publication {
      padding-right: 0px; } }
