#about {
  width: 100%;
  overflow: hidden;
  padding: 150px 0px 70px;
  background: white;
  font-size: 20px;
  text-align: left; }
  #about p {
    font-size: 16px;
    color: #333333; }
  #about .info {
    margin-top: 26px; }
  #about .name {
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    color: #333333;
    margin-bottom: 28px; }
  #about .subheading {
    width: 300px;
    margin-bottom: 13px; }
  #about .portrait {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid white;
    background: white;
    height: 138px;
    width: 138px;
    overflow: hidden; }
    #about .portrait img {
      width: 150px; }
  #about .ellipsis {
    font-size: 61px;
    color: #dddddd; }
  #about h1 {
    margin-top: 69px;
    margin-bottom: 30px; }
