@import "base"

#posts
  width: 100%
  background: #fff
  article
    border-bottom: 1px dotted #ccc
    padding-bottom: 50px
    padding-top: 50px
    &:last-child
      padding-bottom: 0px
      border-bottom: 0px dotted #ccc
    h1
      text-align: left
      font-weight: normal
      line-height: 160%
      font-size: 22px
      margin-bottom: 11px
      &:before
        border-bottom: 0px solid
    time
      display: block
      color: #ccc
      margin-bottom: 6px
