#posts {
  width: 100%;
  background: white;
  margin-top: 25px; }
  #posts article {
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative; }
    #posts article:last-child {
      padding-bottom: 0px;
      border-bottom: 0px dotted #cccccc; }
    #posts article h1 {
      text-align: left;
      font-weight: normal;
      line-height: 120%;
      font-size: 28px;
      margin-bottom: 10px;
      display: block;
      letter-spacing: 3px; }
      #posts article h1:before {
        border-bottom: 0px solid; }
    #posts article h2 {
      display: inline-block;
      margin-top: 10px; }
    #posts article p {
      line-height: 170%;
      font-size: 17px;
      color: #555555;
      margin: 0 0 14px; }
    #posts article p {
      margin-bottom: 24px; }
    #posts article p + p {
      text-indent: 2em;
      margin-top: -20px; }
    #posts article blockquote {
      margin-bottom: 10px;
      margin-right: 0px; }
      #posts article blockquote p, #posts article blockquote p + p {
        margin: 0px; }
    #posts article time {
      display: block;
      color: #cccccc; }
    #posts article .content {
      max-height: 647px;
      overflow: hidden;
      border-bottom: 1px solid #eeeeee;
      margin: 0px 0px; }
    #posts article .arrow-down {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 20px solid #eeeeee;
      margin: 0px auto;
      cursor: pointer;
      display: block; }
      #posts article .arrow-down:hover {
        opacity: 0.7; }
