.project {
  position: relative;
  border-bottom: 1px dotted #dbdbdb;
  padding: 30px 0px;
  overflow: hidden;
  *zoom: 1;
  text-align: left; }
  .project:last-child {
    border-bottom: 0px; }
  .project h2 {
    width: 91px; }
  .project h2, .project h2 a {
    color: #444444;
    display: inline-block;
    font-size: 17px; }
  .project .description {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    width: 444px;
    margin-left: 32px;
    font-size: 17px; }
