@media (max-width: 2800px) {
  .sidebar, .sidebar-border-cover {
    width: 600px; }

  header {
    left: 600px; }

  footer .right {
    margin-right: 600px; } }
@media (max-width: 2000px) {
  .sidebar, .sidebar-border-cover {
    width: 525px; }

  header {
    left: 525px; }

  footer .right {
    margin-right: 525px; } }
@media (max-width: 1800px) {
  .sidebar, .sidebar-border-cover {
    width: 475px; }

  header {
    left: 475px; }

  footer .right {
    margin-right: 475px; } }
@media (max-width: 1600px) {
  .sidebar, .sidebar-border-cover {
    width: 350px; }

  header {
    left: 350px; }

  footer .right {
    margin-right: 350px; } }
@media (max-width: 1400px) {
  .sidebar, .sidebar-border-cover {
    width: 300px; }

  header {
    left: 300px; }

  footer .right {
    margin-right: 300px; } }
@media (max-width: 1250px) {
  .sidebar, .sidebar-border-cover {
    width: 200px; }

  header {
    left: 200px; }

  footer .right {
    margin-right: 200px; } }
@media (max-width: 1100px) {
  .sidebar, .sidebar-border-cover {
    width: 150px; }

  header {
    left: 150px; }

  footer .right {
    margin-right: 150px; } }
@media (max-width: 1000px) {
  .sidebar, .sidebar-border-cover {
    width: 100px; }

  header {
    left: 100px; }

  footer .right {
    margin-right: 100px; } }
@media (max-width: 900px) {
  .sidebar, .sidebar-border-cover {
    width: 50px; }

  header {
    left: 50px; }

  footer .right {
    margin-right: 50px; } }
@media (max-width: 800px) {
  .sidebar, .sidebar-border-cover {
    width: 25px; }

  header {
    left: 25px; }

  footer .right {
    margin-right: 25px; } }
@media (max-width: 700px) {
  .sidebar, .sidebar-border-cover {
    display: none; }

  header {
    left: 0px;
    padding-left: 25px; }

  .content {
    width: auto;
    margin: 0px 25px; }

  #about {
    padding: 70px 0px; }

  #photos img {
    width: auto; }

  header a:last-child {
    display: none; }

  .project h2, .project h2 a {
    text-align: left; }

  .project p {
    margin-left: 0px; } }
