@media (max-width: 800px)
  .sidebar, .sidebar-border-cover
    width: 25px
  header
    left: 25px
    width: calc(100% - 50px)

@media (max-width: 700px)
  .sidebar, .sidebar-border-cover
    display: none
  .content
    width: auto
    margin: 0px 25px

  #article
    .content
      margin: 0px 0px

  header
    left: 0px
    width: 100%

  #about
    padding: 70px 0px
    .subheading
      width: 100%
    .portrait
      margin-top: 30px

  #photos img
    width: auto

  header a:last-child
    display: none

  .project
    h2, h2 a
      text-align: left
    p, .description
      margin-left: 0px
